lightning
torch_geometric
-f https://data.pyg.org/whl/torch-2.0.1+cu117.html
pyg_lib
-f https://data.pyg.org/whl/torch-2.0.1+cu117.html
torch_scatter
-f https://data.pyg.org/whl/torch-2.0.1+cu117.html
torch_sparse
-f https://data.pyg.org/whl/torch-2.0.1+cu117.html
torch_cluster
-f https://data.pyg.org/whl/torch-2.0.1+cu117.html
torch_spline_conv
-f https://data.dgl.ai/wheels/cu117/repo.html
dgl
-f https://data.dgl.ai/wheels-test/repo.html
dglgo
scikit-learn
PyGCL
pandas
seaborn
pyyaml
scipy
networkx
ujson
tqdm
wandb
argparse
loguru
ogb
transformers[torch]
tokenizers
datasets
termcolor
sentence-transformers
lmdb